{
    margin: 0px;
    padding: 0px;

}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    background-image: url(images/hatter.jpg);
    background-position: cover;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    width: auto;
    margin-top: 10px;
    padding: 30px;
}

.h1login{
    padding: 40px;
    margin-bottom: -50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}

.h2choice{
    padding: 40px;
    margin-top: 40px;
    margin-bottom: -50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}
